@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-info { background-color: #dbeafe; color: #1e40af; }
.bg-completed { background-color: #d1fae5; color: #065f46; }
.bg-failed { background-color: #fee2e2; color: #b91c1c; }
.bg-in-progress { background-color: #fef3c7; color: #92400e; }